.menu_butt
{
  color: white;
  &:hover
  {
    background-color: #525252;
  }
  border-radius: 25px;
  padding: 10px;
}

.active{
  background-color: #525252;
}

.side_nav
{
  position: fixed;
  left: 98%;
  top: 25%;
}

.nav_circle
{
  width: 12px;
  &:hover
  {
    background-image: url("/uploads/figures/active_side_nav.png");
    width: 15px;
  }
}

.col
{
  margin: 0 !important;
}

.wraper
{
  background: url(/uploads/backgrounds/orange_back.png) no-repeat center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 400px;
}

.wraper2
{
  background: url(/uploads/logos/transparent.png), url(/uploads/backgrounds/orange_back.png) no-repeat top center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  min-height: 100px;
}

.wraper3
{
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  min-height: 400px;
}

.py-4
{
  padding-top: 0 !important;
}

.havka
{
  font-size: 3.5vmax;
  margin-top: 9vw;
  color: white;
  font-weight: bold;
}

.no_limits
{
  font-size: 23px;
}

.navbar
{
  margin-bottom: 0 !important;
}

.hover_gray
{
  font-size: 13px;
  &:hover
  {
    color: lightgray !important;
  }
}

.city
{
  color: white;
  background: none;
  border: none;
  display: inline-block;
}

.city:hover
{
  color: lightgray;
}

.cities
{
  display: none;
  color: dimgray;
}

.cities a
{
  text-align: center;
  background: rgba(0, 0, 0, .19);
  width: 100%;
}

.mini_city
{
  padding: 4px;
  color: white;
}

.mini_city:hover
{
  background: rgba(0, 0, 0, .3);
}
